.portfolio {
  width: 100%;
  padding-inline: 2rem;
}

.portfolio__img-cont {
  overflow-y: hidden;
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 3rem;
  margin-bottom: 2rem;
  position: relative;
}

.portfolio__img-cont.portfolio__img-cont--rowrev {
  flex-direction: row-reverse;
}

.large-img {
  max-width: 100%;
}

.small-img {
  max-width: 100%;
}
